*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 90%;
    margin: 50px auto;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    display: flex;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #042940;
}

header img{
    object-fit: contain;
}

ul{
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
    gap: 2rem;
    list-style: none;
}

a{
    text-decoration: none;
}

h3{
    color: black;
}

li{
    text-decoration: none;
    color: #FFF;
}

li:hover{
    transition: .3s;
    cursor: pointer;
    color: rgb(78, 78, 78);
}

.boxCountry {
    display: flex;
    width: 350px;
    border-radius: 15px;
    padding: 40px;
    gap: 4%;
    justify-content: center;
    background-color: #eee;
    align-items: center;
}

.boxCountry img {
    border-radius: 8%;
    width: 10em;
}

.boxCountry h3 {
    font-size: 2em;
}

footer {
    text-align: center;
    padding: 15px;
    color: #fff;
    background-color: #042940;
    margin-top: 35.4rem;
}

.None{
    display: none;
}

@media only screen and (max-width: 800px) {
    nav{
        display: none;
    }

    .None{
        display: flex;
    }
}