*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #042940;
}

header img{
    object-fit: contain;
}

ul{
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
    gap: 2rem;
    list-style: none;
}

a{
    text-decoration: none;
}

li{
    text-decoration: none;
    color: #FFF;
}

li:hover{
    transition: .3s;
    cursor: pointer;
    color: rgb(78, 78, 78);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.AtacantesText{
    margin-left: 20rem;
    margin-top: 5rem;
    margin-bottom: -2rem;
}

h2{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h3{
    margin-bottom: 1rem;
}

input{
    margin-right: 2rem;
    height: 1.5rem;
}

.Flag{
    margin-right: 4rem;
}

.ContainerTeam{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.ContainerInputs{
    display: flex;
    margin-top: 3rem;
}

.ContainerInputsText{
    display: flex;
}

.ContainerFilter{
    margin-left: 10rem;
}

.Players, .PlayersMeioCampo, .PlayersGoleiro{
    display: flex;
    margin-top: 8rem;
}

.ContainerPlayer, .ContainerPlayerMeioCampo, .ContainerPlayerGoleiro{
    display: flex;
    margin-right: 2rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #eee;
    padding: 1rem;
    border-radius: 1rem;
}

.RightArrow, .RightArrowMeioCampo, .RightArrowGoleiro{
    background-color: transparent;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
}

.LeftArrow, .LeftArrowMeioCampo, .LeftArrowGoleiro{
    background-color: transparent;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
}

.None{
    display: none;
}

.ContainerButtons{
    display: flex;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 800px) {
    nav{
        display: none;
    }

    .None{
        display: flex;
    }

    .ContainerInputsText{
        flex-direction: column;
    }

    .ContainerFilter{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }

    .ContainerTeam{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .Flag{
        margin-right: 0;
        margin-bottom: 1.5rem;
    }

    .MinimumAge{
        margin-bottom: 2rem;
    }

    .ContainerPlayer, .ContainerPlayerMeioCampo, .ContainerPlayerGoleiro{
        max-width: 6rem;
    }

    .ContainerPlayer > img, .ContainerPlayerMeioCampo > img, .ContainerPlayerGoleiro > img{
        max-width: 5rem;
    }
}