* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

a {
    color: #000;
    text-decoration: none;
}

/*General Styles*/
.dFlex {
    display: flex;
}

.jCenter {
    justify-content: center;
}

.aCenter {
    align-items: center;
}

.mAuto {
    margin: auto;
}

body {
    font-size: 16px;
    font-family: 'Segoe UI';
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.navPages {
    justify-content: space-between;
    padding: 2em;
    align-items: center;
}

.actTeam {
    gap: 1em;
}

.primaryButton {
    background-color: #042940;
    color: #fff;
    border: none;
    padding: 0 2em;
    border-radius: 0.8em;
    height: 2.5rem;
    align-items: center;
    cursor: pointer;
}

.secondaryButton {
    background-color: #042940;
    color: #fff;
    font-size: 0.8em;
    border: none;
    padding: 0.2em 2em;
    border-radius: 0.8em;
    align-items: center;
}

.teamDetails {
    flex-direction: column;
    text-align: center;
    gap: 0.5em;
}

/*Games Section*/
.phase {
    background-color: #FFF;
    width: 80vw;
    margin: 1em auto;
    padding: 1em 3em;
    text-align: center;
    border-radius: 0.5rem;
}

.games {
    height: 18em;
    transition-duration: 0.5s;
}

.gamesExpand {
    height: 25em;
    transition-duration: 0.5s;
}

.sectionTitle {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 1em;
}

.results {
    justify-content: space-between;
    margin-bottom: 1em;
}

.game {
    background-color: #eeeeee;
    padding: 1em;
    border-radius: 0.5rem;
}

.moreGame {
    margin-top: 2em;
    display: none;
}

.loading {
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #042940;
    margin: auto;
    height: 50px;
    width: 50px;
    display: none;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}

footer {
    flex-shrink: 0;
    background-color: #042940;
    color: #FFF;
    padding: 1rem;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .results {
        flex-direction: column;
        gap: 1em
    }

    .games {
        height: 28em;
    }

    .gamesExpand {
        height: 40em;
    }
}

@media screen and (max-width: 620px) {
    .navPages {
        display: grid;
        grid-template: "actTeam actTeam" 2fr
            "prev next" 1fr / 1fr 1fr;
        gap: 1em;
    }

    .actTeam>img {
        width: 30vw;
    }
}

@media screen and (max-width: 300px) {
    body {
        font-size: 12px;
    }
}