/* Header and NavBar*/
header {
    height: 10vh;
    width: 100vw;
    padding: 0.5em 1.5em 0.5em 1.5em;
    background-color: #042940;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu,
.menu {
    color: #fff;
    display: none;
}

.navbarMain {
    margin-right: 3vw;
}

.navItems {
    list-style: none;
    display: flex;
    gap: 2em;
}

.navOption>a {
    color: white;
    text-decoration: none;
}

.logoClean {
    margin: 1vh 1vh;
}

/*navbar end*/

/*toggle button settings*/
@media screen and (max-width: 480px) {
    header {
        align-items: unset;
    }

    .navbarMain {
        display: grid;
        text-align: end;
    }

    .menu {
        display: block;
        padding: 10px;
        float: right;
        font-size: 2rem;
    }

    .navItems {
        display: none;
        flex-direction: column;
        transition-duration: 0.4s;
    }

    .toggleBack {
        margin: 0;
        background-color: #042940;
        transition-duration: 0.4s;
        position: absolute;
        left: 0;
        height: 0.1em;
        width: 100vw;
    }

    #menu:checked~.toggleBack {
        margin-top: 8vh;
        height: 12em;
        width: 100vw;
        transition-duration: 0.4s;
    }

    #menu:checked~.navItems {
        display: flex;
    }

    #menu:checked~.navItems {
        text-align: center;
        padding: 1em 2em 2em 2em;
        position: absolute;
        right: 0;
        margin-top: 8vh;
        justify-content: end;
        transition-duration: 0.4s;
    }
}

/*toggle end*/