*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #042940;
}

header img{
    object-fit: contain;
}

ul{
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
    gap: 2rem;
    list-style: none;
}

a{
    text-decoration: none;
}

li{
    text-decoration: none;
    color: #FFF;
}

li:hover{
    transition: .3s;
    cursor: pointer;
    color: rgb(78, 78, 78);
}

body{
    background-color: #EEEEEE;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label{
    margin-top: 2rem;
}

input{
    height: 1.5rem;
    outline: none;
    padding: .2rem;
}

button{
    margin-top: 2rem;
    height: 2rem;
    width: 11.5rem;
    background-color: rgb(43, 114, 196);
    color: #FFF;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.None{
    display: none;
}

@media only screen and (max-width: 800px) {
    nav{
        display: none;
    }

    .None{
        display: flex;
    }
}